<ion-content>
  <ion-segment scrollable mode="md" (ionChange)="segmentChanged()" [(ngModel)]="segment" color="warning">
    <ion-segment-button mode="md" value="0">
      <p>Description</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="1">
      <p>Interconnections</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="2">
      <p>Declensions</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="3">
      <p>Phraseologisms</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="4">
      <p>Etymology</p>
    </ion-segment-button>
    <ion-segment-button mode="md" value="5">
      <p>Analysis</p>
    </ion-segment-button>
  </ion-segment>

  <ion-slides (ionSlideDidChange)="slideChanged()" class="word-slides">
    <ion-slide>
      <p>Slide 1</p>
    </ion-slide>
    <ion-slide>
      <p>Slide 2</p>
    </ion-slide>
    <ion-slide>
      <p>Slide 3</p>
    </ion-slide>
    <ion-slide>
      <p>Slide 4</p>
    </ion-slide>
    <ion-slide>
      <p>Slide 5</p>
    </ion-slide>
    <ion-slide>
      <p>Slide 6</p>
    </ion-slide>
  </ion-slides>
</ion-content>